.box {
  width: 570px;
  height: 570px;
  background-color: #e4f0f0;
  display: inline-block;
}
.form {
  margin: 99px 124px;
  border: 1px solid #cfdede;
  width: 322px;
  height: 372px;
  background-color: #fff;
  padding: 29px;
  border: 1px solid #cfdede;
}
input {
  display: block;
  width: 262px;
  height: 32px;
  font: italic 12px arial;
  padding-left: 12px;
  margin-top: 10px;
  background-color: #e4f0f0;
  border: 1px solid #cfdede;
}
h2 {
  font: bold 12px arial;
}
.first {
  margin-top: 25px;
}
.second {
  margin-top: 18px;
}
.third {
  margin-top: 20px;
}
span {
  color: #01b3b3;
}
h1  {
  display: inline-block;
  position: absolute;
  font: bold 12px arial;
  background-color: #01bcbc;
  color: #fff;
  padding: 6px 9px;
  margin: 97px 0 0 154px;
  text-transform: uppercase;
}
button {
  font: bold 16px arial;
  text-transform: uppercase;
  background-color: #01bcbc;
  color: #fff;
  padding: 13px 64px;
  border: none;
  margin-top: 36px;
}