/*Fonts Family*/
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Colors*/
/*Basic settings*/
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
.button {
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: #f6ae00;
  color: #ffffff;
  border-radius: 8px;
  border: none;
}
/*Typography*/
section {
  padding: 10rem 0;
}
/*Main*/
.main {
  padding: 4rem 0;
  background: url(../img/bg_main.png) no-repeat;
}
.main_content {
  margin: 6rem 0;
}
.main_content_title {
  margin-bottom: 4rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 4rem;
}
.main_content_subtitle {
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.main_content_banner {
  display: inline-block;
  margin-top: 4rem;
  padding: 3rem 4rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #70c849;
}
.main_content_appeal {
  margin-top: 2rem;
  font-size: 2.2rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.phone_link {
  display: inline-block;
  height: 7rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2rem;
  line-height: 7rem;
  color: #1a1820;
}
.main_form {
  margin-top: 3rem;
  padding: 2rem 4rem;
  background-color: #ffffff;
}
.main_form h2 {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main_form label {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #565656;
  background-color: #ffffff;
}
.main_form input {
  display: block;
  margin-bottom: 2.5rem;
  height: 5rem;
  border: 1px solid #ddd;
}
.main_form button {
  padding: 1.8rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.main_form p {
  font-size: 1.2rem;
  color: #565656;
}
.notice {
  display: block;
  margin-top: 3rem;
  padding-left: 2rem;
  font-size: 1.2rem;
  color: #565656;
}
